<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="6" android:versionName="Six - Carribean Green" package="com.ainen.aero"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature android:name="org.cyanogenmod.theme" android:required="true" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <application android:label="Aero" android:icon="@drawable/ic_launcher" android:hasCode="false" />
    <meta-data android:name="org.cyanogenmod.theme.name" android:value="Aero" />
    <meta-data android:name="org.cyanogenmod.theme.author" android:value="ainen" />
</manifest>